
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

.dashboard-body{
    border: 10px solid rgb(0, 213, 107);
    height: 99vh;
    width: 100%;
}

.graphic-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 90% 1fr;
}

.graphic{
    height: 80%;
    width: 70%;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}


.graphic-input{
    display: flex;
    justify-content: center;
    grid-row: 2;
}

#graphic-input{
    color: white;
}

.first_dashboard_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
    height: 100%;
    width: 100%;
}
.first_dashboard_container h1{
    grid-row: 1;
    grid-column: 1 / 3;
    justify-self: center;
    align-self: center;
}

.dashboard_body{
    height: 97vh;
    display: grid;
    grid-template: 30% 70%/1fr 1fr;
}

/*Puestos de ventas*/
.pdv_sales_chart{
    grid-row: 2;
    grid-column: 1;
}

.pdv_cards_containter{
    display: flex;
    align-items: center;
    height: 80%;
    width: 80%;
    justify-self: center;
}

.pdv_data_cards{
    grid-row: 1;
    grid-column: 1/3;
}
.pdv_card_box{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.pdv_card{
    min-width: 230px;
    border: 1px solid rgb(215, 210, 210);
    height: 100%;
}



.card_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#card_data{
    padding: 15px;
}